/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgba: 214, 219, 220;
  --background-end-rgba: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgba: 0, 0, 0, 0.74;
    --background-start-rgba: 33, 35, 118, 0.55;
    --background-end-rgba: 117, 27, 131, 0.78;
  }
}

body {
  color: rgb(var(--foreground-rgba));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgba))
    )
    rgb(var(--background-start-rgba)); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    195deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 67, 134, 1) 53%,
    rgba(36, 47, 73, 1) 71%,
    rgba(0, 0, 0, 1) 100%
  );
}
